{{- if .Params.comments | default .Site.Params.comments -}}
  <script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.giscus.repo }}"
    data-repo-id="{{ .Site.Params.giscus.repoID }}"
    data-category="{{ .Site.Params.giscus.category }}"
    data-category-id="{{ .Site.Params.giscus.categoryID }}"
    data-mapping="{{ .Site.Params.giscus.mapping | default "pathname" }}"
    data-reactions-enabled="{{ .Site.Params.giscus.reactionsEnabled | default "1" }}"
    data-emit-metadata="{{ .Site.Params.giscus.emitMetadata | default "0" }}"
    data-theme="{{ .Site.Params.giscus.theme | default "preferred_color_scheme" }}"
    data-lang="{{ .Site.Params.giscus.lang | default "zh-CN" }}"
    crossorigin="anonymous"
    async>
  </script>
  <div class="giscus"></div>
{{- end -}}
